<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Merchex</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
  </head>
  <body>
    <nav>
      <ul class="menu">
      <li><a href="{% url 'band-list' %}">Groupes</a></li>
      <li><a href="{% url 'listings' %}">Objets</a></li>
      <li><a href="{% url 'contact-us' %}">Contact</a></li>
      <li><a href="{% url 'about' %}">A propos</a></li>
      <li><a href="{% url 'band-create' %}">Creer Groupe</a></li>
      <li><a href="{% url 'listing-create' %}">Creer Objet</a></li>
    </nav>
 <div class="block_content">
      {% block content %} {% endblock %}
 </div>
 
  </body>
</html>
